html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #010a13; /* Forzamos el fondo oscuro del cliente desde la raíz */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}